.bar button {
  all: unset;
}

.bar .panel {
  min-height: 26px;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: rgba(17, 16, 27, .75);
  color: #cdd6f4;
}

.bar-icon {
  padding: 0 5px;
  border-radius: 20px;
  transition-property: background-color, color;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transition-delay: 200ms;
}

.bar-icon.active {
  background-color: #cba6f7;
  color: #1e1e2e;
  transition-duration: 200ms;
  transition-delay: 0;
}

.bar-divider {
  padding: 10px 2px;
}

.bar-divider-line {
  min-width: 6px;
  min-height: 6px;
  background: #6c7086;
  border-radius: 50%;
}

.icon {
  font-family: 'Segoe Fluent Icons';
}

.icon.overlay {
  color: #585b70;
}

.system .icon {
  font-size: 16px;
  font-weight: bold;
}

.system.active {
  background-color: #89b4fa;
}

.network .icon {
  font-size: 18px;
}

.network.active {
  padding: 0 10px;
  background-color: #89b4fa;
}

.network .icon.disconnected {
  color: #585b70;
}

.battery .icon {
  font-size: 26px;
}

.battery.active {
  padding: 0 10px;
  background-color: #a6e3a1;
}

.volume .icon {
  font-size: 18px;
}

.volume.muted .overlay {
  opacity: 0;
}

.volume.active {
  padding: 0 10px;
}

.notifications.active {
  background: #f9e2af;
}

.notifications .icon {
  font-size: 16px;
}

.clock {
  font-size: 14px;
  color: #9399b2;
}

.workspaces .workspace {
  margin: 0 2px;
	padding: 0 6px;
	border-radius: 5px;
  color: #6c7086;
  font-size: 14px;
}

.workspaces .workspace.occupied {
  color: #9399b2;
}

.workspaces .workspace.active {
  color: #ea76cb;
}

.workspaces .workspace:hover {
  color: #D35D6E;
}

.popup-window .container {
  border: 2px solid #cba6f7;
  border-radius: 10px;
  background: rgba(17, 16, 27, .75);
}

.popup-window button {
  all: unset;
  padding: 8px 10px;
}

.popup-window .title {
  font-size: 14px;
  font-weight: 500;
  font-weight: bold;
}

.system-menu .container {
  padding: 5px 0;
}

.system-menu .option {
  min-width: 200px;
}

.system-menu .option:hover .label,
.system-menu .option:hover .icon {
  color: #cba6f7;
}

.system-menu .option .shortcut {
  color: #585b70;
  font-size: 12px;
}

.volume-menu .container {
  padding: 15px 15px 20px;
  min-width: 250px;
}

.volume-menu .slider trough {
  padding: 0 12px;
  border-radius: 25px;
  background: #45475a;
}

.volume-menu .slider trough highlight {
  padding: 12px 0;
  margin-left: -12px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #8839ef;
}

.volume-menu .slider slider {
  background: white;
  box-shadow: 0 0 0 3px #8839ef;
}

.volume-menu .slider value {
  opacity: 0;
}

.volume-menu .audio-device {
  padding: 5px 0;
}

.volume-menu .audio-device:hover .label {
  color: #cba6f7;
}

.volume-menu .audio-device .icon {
  padding: 8px;
  border-radius: 50%;
  background: #45475a;
  font-size: 16px;
}

.volume-menu .audio-device.active .icon {
  background: #8839ef;
}

.volume-menu .more {
  font-size: 14px;
  color: #7c7c7c;
}

.system-tray-item {
  padding: 0 5px;
}

.corner {
  min-width: 10px;
  min-height: 10px;
}

.corner.top-left {
  background: radial-gradient(circle at bottom right, transparent 10px, #000000 1px);
}

.corner.top-right {
  background: radial-gradient(circle at bottom left, transparent 10px, #000000 1px);
}

.corner.bottom-left {
  background: radial-gradient(circle at top right, transparent 10px, #000000 1px);
}

.corner.bottom-right {
  background: radial-gradient(circle at top left, transparent 10px, #000000 1px);
}